body {
  background-color: #006363;
  color: #ffb273;
  font-size: 10pt;
  font-family: Sans-Serif;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  border-bottom: 1px solid #bf7130;
}

#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

input, textarea {
  background-color: #5ccccc;
  color: #006363;
  border: 1px solid #ffb273;
}

input[type="button"] {
  font-size: 1.4em;
  padding-left: 1em;
  padding-right: 1em;
}

textarea#input {
  font-family: monospace;
  width: 800px;
  height: 200px;
}

div.graph-container {
  background-color: #1d7373;
  margin-top: 5px;
}

div.graph {
  background-color: #ff9640;
  height: 20px;
  line-height: 20px;
}

div.graph span {
  color: #000;
  font-weight: bold;
  font-size: 0.9em;
  font-family: monospace;
  padding-left: 0.5em;
}

p.section-info, p.symbol-info {
  max-height: 200px;
  overflow: auto;
  padding: 1em;
  background-color: #1d7373;
}

p.monospace, pre {
  font-family: monospace;
  background-color: #5ccccc;
  color: #006363;
  border: 1px dashed #ffb273;
  padding: 0.3em;
}

